services:
  keycloak:
    image: quay.io/keycloak/keycloak:latest
    container_name: keycloak
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
    ports:
      - "8080:8080"
    volumes:
      - keycloak_data:/opt/keycloak/data
    command: ["start-dev"]

  presentation:
    image: ${DOCKER_REGISTRY}presentation
    build:
      context: ./Presentation
      dockerfile: Dockerfile
    ports:
      - "5000:80"
    depends_on:
      - keycloak

volumes:
  keycloak_data: