name: Build ProfilesAPI

on:
  push:
    branches: [dev]
    paths:
      - 'ProfilesAPI/**'
  
  pull_request:
    paths:
      - 'ProfilesAPI/**'
    branches: [dev]
    
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x'
        
    - name: Build ProfilesAPI
      run: dotnet build "Back-End/ProfilesAPI/Presentation/Presentation.csproj" --configuration Release
