name: Build ServicesAPI

on:
  push:
    branches: ["dev"]
    paths:
    - 'ServicesAPI/**'
  
  pull_request:
    branches: ["dev"]
    paths:
    - 'ServicesAPI/**'
  workflow_dispatch:
  
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x'
        
    - name: Build ServicesAPI
      run: dotnet build "Back-End/ServicesAPI/Presentation/Presentation.csproj" --configuration Release
